body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("http://www.pageresource.com/wallpapers/wallpaper/cg-animation-pc-background-blue-moon-smile-sky-star.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.turtle{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}

.sky{
  border:10px solid orange;
  border-radius:10px;
  position:absolute;
}
